body {
    border: 1px solid white;
}

.main {
    color: var(--spectrum-neutral-subdued-content-color-default);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: var(--spectrum-alias-item-padding-m);
<<<<<<< HEAD
=======
    font-size: var(--spectrum-body-size-m);
>>>>>>> master
}